// colors 
$black : #191919;
$blue_black: #091841;
$dark_blue: #050F40;
$blue: #0037CC;
$border_color: #70707022;
$grey: #E1E1E1;
$green: #1AAA19;
$blog_tag_color_1: #EA634C;
$blog_tag_color_2: #0AD13E;
$blog_tag_color_3: #AF479A;
$blog_tag_color_4: #0AC4D1;

//backgrounds
$light_blue_bg: #E1EAF7;
$light_blue_bg_2: #D6DDEA;
$blue-bg: #2143C8;
$repair_bg: rgba(19, 195, 148, 0.08);
$service_bg: rgba(255, 196, 94, 0.18);
$guarantee_bg: rgba(68, 130, 254, 0.15);
$dark_gradient_bg: linear-gradient(to bottom right, #092B60, #050F40);
$light_gradient_bg: linear-gradient(to bottom right, #FFFFFF, #E1EAF7);
$blog_tag_bg_1: #FDEFED;
$blog_tag_bg_2: rgba(10, 209, 63, 0.2);
$blog_tag_bg_3: rgba(175, 71, 154, 0.2);
$blog_tag_bg_4: rgba(10, 196, 209, 0.2);


//shadows
$btn-box-shadow: 0px 17px 36px rgba(31, 59, 168, 0.27);
$btn-box-shadow-hover: 0px 9px 36px 12px rgba(31,59,168,0.28);
$btn-box-shadow-light-hover: 0px 0px 20px rgba(31, 59, 168, 0.15);
$card-box-shadow: 0px 26px 36px rgba(17, 11, 94, 0.11);