.contact-page {
    padding: 15.5rem 0 19.5rem;

    .banner-title {
        margin-bottom: 10rem;
    }

    .locations-card {
        padding-bottom: 8.5rem;
    }

    .form-style-1 {
        margin-bottom: 12.5rem;
    }

    @include media-breakpoint-down(sm) {
        padding: 10.5rem 0 14.5rem;

        .banner-title {
            margin-bottom: 8rem;
        }

        .locations-card {
            padding-bottom: 5.5rem;
        }

        .form-style-1 {
            margin-bottom: 6.5rem;
        }
    }
}