.service-type {
    padding-bottom: 13rem;

    .mainBanner {
        padding: 10rem 0;
    }

    .desc p {
        max-width: 74.5rem;
        padding: 9.5rem 0 0;
        margin: 0 auto;
    }

    h2 {
        margin-bottom: 4rem;
    }

    .group {
        padding-bottom: 10rem;
    }

    .select-brand {
        .card .image {
            height: 13rem;
            display: flex;
            align-items: center;
        }
    }
}


.select-repairs {
    padding: 12rem 0;

    .showcase {
        position: sticky;
        top: 0;
        left: 0;
        transition: .3s;

        .wrapper {
            background: #fff;
            padding: 2.5rem 0 3rem 0;
            border-radius: 15px;
            box-shadow: $card-box-shadow;
            text-align: center;
        }


        .device-info {
            .image {
                padding: 10.8% 22%;
                background: url("../../images/phone-bg.png") center center no-repeat;
                background-size: contain;
                display: inline-block;

                img {
                    box-shadow: $card-box-shadow;
                }
            }
        }

    }


    .fullwidthTab {
        padding-top: 4rem;
    }

}

#choose-services {

    h2 {
        padding-bottom: 6.5rem;
    }
}
.scrolled .select-repairs .showcase {
    padding-top: var(--siteHeaderHeight);
    margin-top: 30px;
}